%li.subtarea{ :"data-tarea-id" => tarea.id }
  %article.desplegado
    %h4.clickable.subtarea-desplegar
      = tarea.titulo
      = tarea.id
    .wrap
      %ul.nobullet.nolist.proveedor
      - unless tarea.proveedors.blank?
        - tarea.proveedors.each do |proveedor|
          %li.nobullet.table.mtable
            .tcell.t75
              %h5.titulo.uc
                = proveedor.name
            .tcell.t75
              %span.precio
                = proveedor.presupuesto
          - unless proveedor.notas.blank?
            .notas
              %strong Notas:
              = proveedor.notas
      - else
        .empty
          (No hay proveedores)
      %footer
        .agregar
          %a{ href: "/" }
            Agregar &raquo;
