%li.tarea.tcell{ class: "evento-#{tarea.titulo.parameterize}" }
  %header
    %h3.tarea-desplegar
      = tarea.titulo
      = tarea.id
    = image_tag "layout/icono-#{tarea.titulo.parameterize}.png", class: 'icon'
  %section.subtareas
    %ul.nolist.nobullet
      = nested_sub_tarea(sub_tareas)
    %footer
      %a{ href: '/' }
        Agregar más
