%h3 Platícanos de tu boda
= form_tag do
  %p
    = label_tag(:novia, "¿Cómo se llama la novia?")
    = text_field_tag(:novia)
  %p
    = label_tag(:novio, "¿Cómo se llama el novio?")
    = text_field_tag(:novio)
  %p
    = label_tag(:presupuesto, "¿Cuánto tienen presupuestado gastar?")
    $
    = text_field_tag(:presupuesto, nil, :size => 3)
  %p
    = label_tag(:fecha, "¿Cuándo es la boda?")
    = text_field_tag(:fecha, nil, :size => 5)
  %p
    = submit_tag("Crear Proyecto")
