!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en" xmlns:fb="http://ogp.me/ns/fb#">
/[if IE 7 ] <html class="ie7" lang="en" xmlns:fb="http://ogp.me/ns/fb#">
/[if IE 8 ] <html class="ie8" lang="en" xmlns:fb="http://ogp.me/ns/fb#">
/[if IE 9 ] <html class="ie9" lang="en" xmlns:fb="http://ogp.me/ns/fb#">
/[if (gt IE 9)|!(IE)] <!--> <html lang="en" xmlns:fb="http://ogp.me/ns/fb#">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"
  = javascript_include_tag 'modernizr'

  %title= content_for?(:title) ? yield(:title) : "boda.in"
  %link(href="/favicon.ico" rel="shortcut icon")
  %meta( name="viewport" content="width=device-width; initial-scale=1.0" )
  = csrf_meta_tag

  -# Included CSS Files
  = stylesheet_link_tag "application"
  = stylesheet_link_tag "movil"

%body
  .container
    %header#header
      %h1#bodain
        %a.bgicon.inlineblock{ href: '/'}
          %span boda.in
      #login
        - if user_signed_in?
          = link_to 'Cerrar sesión', destroy_user_session_path, :method => 'delete'
        - else
          %a{ href: "/users/sign_up" }
            Date de alta
          o
          %a{ href: "/users/sign_in" }
            Accesa tu cuenta
      %menu#barra
        %ul.table.mtable.nolist.nobullet
          %li.foto.tcell
            = image_tag 'tmp/foto.jpg'
          %li.datos.tcell
            %h2.pareja
              - if @proyecto.blank?
                Diana & Rodrigo
              - else
                = "#{@proyecto.novia} & #{@proyecto.novio}"
            %h4.fecha
              - if @proyecto.blank? || !@proyecto.fecha.respond_to?("day")
                Diciembre 2012
              - else
                = "#{@proyecto.fecha.strftime("%B #{@proyecto.fecha.day.ordinalize}, %Y")}"
          %li.progreso.tcell
            %progress( max="100" value="54" )
            %big.gasto
              Tu presupuesto:
              %code
                - if @proyecto.blank?|
                  $100,000.00
                - else
                  = @proyecto.presupuesto.to_s.gsub(/\D/,'')
      #barrashadow
    #main(role="main")
      = yield

  -# Included JS Files
  = javascript_include_tag "application"
  = yield(:javascripts) if content_for?(:javascripts)
  = render 'base/analytics' if ENV['ANALYTICS_KEY']
